doctype html
<html>
head
	style @media (prefers-color-scheme:dark){*{color-scheme:dark}}
	meta(charset='utf-8')
	title textarea (keyboard visualized)
	//- meta(name='description',content='Hello, World!')
	meta(name='viewport',content='width=device-width,initial-scale=1')
	link(href='./style.css',rel='stylesheet')
	script(src='./script.js',async)
<body>
textarea


-
	var qwerty_andmore = [
			             ["`","1","2","3","4","5","6","7","8","9","0","-","=","BackSpace"],
			          ["tab","Q","W","E","R","T","Y","U","I","O","P","[","]","\\"],
			      ["CapsLock","A","S","D","F","G","H","J","K","L",":","'","Enter"],
			["Shift",/*"\\",*/ "Z","X","C","V","B","N","M",",",".","/","Shift"],
	];



-
	var qwerty_andmore = [
			     ["`","1","2","3","4","5","6","7","8","9","0","-","="],
			        ["Q","W","E","R","T","Y","U","I","O","P","[","]","\\"],
			         ["A","S","D","F","G","H","J","K","L",":","'"],
			[/*"\\",*/ "Z","X","C","V","B","N","M",",",".","/"],
	];


table#kbd
	tbody
		each i in qwerty_andmore
			tr
				each ii in i
					td= ii

style.
	table#kbd { font-family: monospace; }
	table#kbd > tbody > tr > td { border: 1px solid black; display: inline-block; }
	//table#kbd > tbody > tr > td:first-child { border: none; }

	table#kbd:not(.matrix) > tbody > tr:nth-child(1) > td:first-child { margin-left: calc( 0.00em ); }
	table#kbd:not(.matrix) > tbody > tr:nth-child(2) > td:first-child { margin-left: calc( 1.50em ); }
	table#kbd:not(.matrix) > tbody > tr:nth-child(3) > td:first-child { margin-left: calc( 1.75em ); }
	table#kbd:not(.matrix) > tbody > tr:nth-child(4) > td:first-child { margin-left: calc( 2.00em ); }

</body>
</html>
