doctype html
<html lang="en">
head
	title intex.html
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
	style @media (prefers-color-scheme:dark){*{color-scheme:dark}}

<body>
	ul
		each file in HTML_FILES
			li #[a(href=file)= file.replace(/\.html$/,"")]
