/* :root { */
	/*  */
		/* color-scheme: dark; */
/* } */

@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		color-scheme: dark;
	}
}
:root[data-theme="dark"] {
	color-scheme: dark;
}




@media(hover: hover) and (pointer: fine) {
	*:hover {
		background: yellow;
	}
}





x-tabs-container x-tab,
.d-none { display: none; }

x-tabs > input[role="tab?"],
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

[aria-labelfor="tab1"]:checked ~ x-tabs-container x-tab#tab1,
[aria-labelfor="tab2"]:checked ~ x-tabs-container x-tab#tab2,
.d-block { display: block; }


.btn {
	appearance: button;
}
@supports not (appearance: button) {
	border: 3px outset gray; 
	background: #aaa; 
}

.mbtn {
-webkit-appearance: menulist-button;
   -moz-appearance: menulist-button;
        appearance: menulist-button;
}



.link {
	text-decoration: underline;
	cursor: pointer;
}



.d-flex-center-XY {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*
.has-m-1 > *,
.m-1
{ margin: 1em; }
*/


.has-m-z5 > * { margin: .5rem; }
.has-p-z3 > * { padding: .3rem; }
