// mostly ChatGPT generated

meta(charset="utf-8")
meta(content="initial-scale=1,minimum-scale=1,width=device-width",name="viewport")
title Text-to-Speech Controller
link(rel="stylesheet",href="./style.css")
script(src='./script.js',async)


h1 Text-to-Speech Controller
p Enter the text you want to be spoken:
textarea#text
br

.d-flex
	button#speak-button Speak
	button#pause-button Pause
	button#resume-button Resume
	button#stop-button Stop
br

p Select a language:
select#language-select
br

p Select a voice:
select#voice-select
br


// TODO:! input[range] does not show vaule choosen. add: hover title or value text

// TODO:
// AI: The maximum and minimum values for the rate and pitch properties are not fixed, and may vary depending on the implementation of the speech synthesis API in different browsers. In some browsers, the rate property may have a maximum value of 10, while in others it may have a maximum value of 3 or 4. Similarly, the pitch property may have a maximum value of 2 or 3 in some browsers, while in others it may have a maximum value of 1.5 or 1.75.

p Adjust the rate of speech:
input#rate(type='range',min='0',max='3',value='1',step='0.1')
br

p Adjust the pitch of speech:
input#pitch(type='range',min='0',max='2',value='1',step='0.1')
br

