doctype html
head
	meta(charset='utf-8')
	// if render blocking js: link(rel="prefetch",href="./script.js")
	title Hello, World!
	meta(name='description',content='Hello, World!')
	meta(name='viewport',content='width=device-width,initial-scale=1')
	link(href='./style.css',rel='stylesheet')
	script(src='./a.js',async)
input#searchInput
// if render blocking js: script(src='./script.js')
