/* ==UserStyle==
@name        Facebook Messenger to have autohide top bar
@version     1.0.0
@description Get rid of Facebook top bar on Facebook domain when using Messenger "See all in Messenger".
@namespace   https://userstyles.world/user/denisde4ev
@author      denisde4ev
==/UserStyle== */
/*
NOTE: I'm using id's as first version, I'll see if this will work in long term. expect soon update when fb update the page IDs

preview1: https://f000.backblazeb2.com/file/jpgshared/DQRK3PgW
preview1: https://userstyles.world/preview/26888/0t.webp

script url: https://github.com/denisde4ev/html-css-js/blob/master/css/stylus/fb-hide-bar.user.css
script published url: https://userstyles.world/style/26888/default-slug
*/

@-moz-document url-prefix("https://www.facebook.com/messages/") {
[role="banner"] {
    position: absolute;

    &:not(:hover,:focus-within,:focus) {
        opacity: 0;
        z-index: 100;
        &,&>* {
            height: 10px;
            overflow: hidden;
        }
    }
}


.xxzkxad { top: 0 !important; }
.x85a59c { max-height: unset !important; }
.x1bc3s5a { max-height: calc(100dvh - 30px) !important; }
}
